* {
    font-family: Arial, Helvetica, sans-serif;
}

.connectedSortable {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
.connectedSortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}
.banList{
    display: inline-block;
    position: relative;
}
.myContainer {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
#pickedList{
    float: right;
 }
.eatenContainer{
    float: right;
}
.banContainer{
    float: left;
    width: 73%;
}
.notEatenContainer{
    float: left;
}
.ban{
    width: fit-content;
    margin: auto;
}
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: 0.4;
}
.loader img{
    position: absolute;
    left: 30%;
    top: 30%;
}